main {
  background: #ccc;
  padding: 15px;
  border-radius: 60px;
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

#acoes {
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-top: 10px;
}

#acoes img {
  background-color: orange;
  margin: 10px;
  cursor: pointer;
}